<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wyedward.core.mapper.UserInfoMapper" >
    <resultMap id="BaseResultMap" type="cn.wyedward.core.entity.UserInfo">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="pass_word" property="passWord" jdbcType="VARCHAR" />
        <result column="age" property="age" jdbcType="INTEGER" />
        <result column="role_id" property="roleId" jdbcType="INTEGER" />
        <association property="userRole" column="role_id"
                     select="cn.wyedward.core.mapper.UserRoleMapper.selectById"/>
    </resultMap>

    <sql id="Base_Column_List" >
        id, user_name, pass_word, age, role_id
    </sql>

    <select id="testXmlList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from test_user_info
    </select>

</mapper>