.layout{
    aside{
      position: fixed;
      width: 210px;
      height: 100%;
      top: 0;
      left: 0;
      overflow-y: auto;
      background-color: #EBF1F6;
      &::-webkit-scrollbar{
        width:6px;
      }
      //滚动条小方块
      &::-webkit-scrollbar-thumb{
        border-radius:10px;
        background:#DDDEE0;
      }
      //滚动条轨道
      &::-webkit-scrollbar-track{
        border-radius:10px;
        height:100px;
        background: white;
      }
      .menuBgColor{
        background-color: #EBF1F6;
      }
    }
    .main{
      min-height: 100%;
      margin-left: 210px;  /*左移200  避免跟侧边栏冲突*/
      header{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;   /*宽度100%*/
        height: 60px;
        line-height: 60px;
        background-color: #EBF1F6;
        z-index: 100;  /*避免后面内容滚动上来覆盖*/
        div.logo{
          display: inline-block;
          width: 200px;
          height: 60px;
          h1{
            width: 200px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            color: #409EFF;
          }
        }
        div.breadcrumb{
          display: inline-block;
        }
        /*折叠前后的导航按钮效果*/
        .toggleNavCollapse {
          display: inline-block;
          margin-left: 8px;
          padding: 0 10px;
          font-size: 26px;
          vertical-align: middle;
          color: #333;
          cursor: pointer;
          transition: all 0.5s;
          &.active {
            transform: rotate(90deg);
          }
        }
        /*个人名称+关闭*/
        div.info{
          float: right;
          .user_info{
            width: 150px;
            display: inline-block;

            text-align: center;
            color: black;
          }
          .system_logout{
            width: 50px;
            display: inline-block;

            text-align: center;
            color: black;
          }
        }
      }
      section{
        position: relative;
        margin-top: 60px;
        padding: 8px;
        background-color: white;
        .tabs{
          width: 100%;
        }
      }
    }
}


