<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wyedward.core.mapper.sys.PermissionMapper" >
    <resultMap id="BaseResultMap" type="cn.wyedward.core.entity.sys.Permission">
        <id column="permission_id" property="permissionId" jdbcType="INTEGER" />
        <result column="permission_unique_id" property="permissionUniqueId" jdbcType="BIGINT" />
        <result column="permission_url" property="permissionUrl" jdbcType="VARCHAR" />
        <result column="permission_name" property="permissionName" jdbcType="VARCHAR" />
        <result column="permission_description" property="permissionDescription" jdbcType="VARCHAR" />
        <result column="permission_fid" property="permissionFid" jdbcType="INTEGER" />
        <result column="permission_enable" property="permissionEnable" jdbcType="INTEGER" />
    </resultMap>

    <resultMap id="DtoResultMap" type="cn.wyedward.core.entity.sys.dto.PermissionDto" extends="BaseResultMap">
        <association property="permissionFu" column="permission_fid"
                     select="cn.wyedward.core.mapper.sys.PermissionMapper.selectById"/>
    </resultMap>
    <sql id="Base_Column_List" >
        permission_id, permission_unique_id, permission_url, permission_name, permission_description, permission_fid, permission_enable
    </sql>

    <!--根据用户名去查找权限集合-->
    <select id="findByUserName" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
            p.permission_id,
            p.permission_url ,
            p.permission_name
        FROM
            sr_permission p
                LEFT JOIN sr_role_permission rp ON (p.`permission_id` = rp.`pid`)
                LEFT JOIN sr_role r ON (r.`role_id` = rp.`rid`)
                LEFT JOIN sr_user_role ur ON (ur.`rid` = r.`role_id`)
                LEFT JOIN sr_user u ON (u.`user_id` = ur.`uid`)
        WHERE u.user_name = #{userName,jdbcType=VARCHAR} and u.user_enable = 0
    </select>

    <!--根据角色户id去查找权限集合-->
    <select id="findByRoleId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT
            <include refid="Base_Column_List"></include>
        FROM
            sr_permission p
                LEFT JOIN sr_role_permission rp ON (p.`permission_id` = rp.`pid`)
                LEFT JOIN sr_role r ON (r.`role_id` = rp.`rid`)
        WHERE r.role_id = #{roleId}
    </select>
    <!--查询dto-->
    <select id="findDtoByPage" resultMap="DtoResultMap">
        select
            <include refid="Base_Column_List"></include>
        from
            sr_permission
        <where>
            <if test="wrapper.queryCondition != null and wrapper.queryCondition.permissionName !=null  ">
                and permission_name like concat("%", #{wrapper.queryCondition.permissionName}, "%")
            </if>
        </where>
        limit #{start}, #{end}
    </select>
    <!--查询dto条数-->
    <select id="countDto" resultType="java.lang.Integer">
        select
            count(permission_id)
        from
            sr_permission
        <where>
            <if test="wrapper.queryCondition != null and wrapper.queryCondition.permissionName !=null  ">
                and permission_name like concat("%", #{wrapper.queryCondition.permissionName}, "%")
            </if>
        </where>
    </select>
</mapper>