<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wyedward.core.mapper.sys.RoleMapper" >
    <resultMap id="BaseResultMap" type="cn.wyedward.core.entity.sys.Role">
        <id column="role_id" property="roleId" jdbcType="INTEGER" />
        <result column="role_unique_id" property="roleUniqueId" jdbcType="BIGINT" />
        <result column="role_name" property="roleName" jdbcType="VARCHAR" />
        <result column="role_description" property="roleDescription" jdbcType="VARCHAR" />
        <result column="role_enable" property="roleEnable" jdbcType="INTEGER" />
    </resultMap>

    <resultMap id="DtoResultMap" type="cn.wyedward.core.entity.sys.dto.RoleDto" extends="BaseResultMap">
        <collection property="permissionList" ofType="cn.wyedward.core.entity.sys.Permission" column="role_id" select="cn.wyedward.core.mapper.sys.PermissionMapper.findByRoleId">
            <id column="permission_id" property="permissionId" jdbcType="INTEGER" />
            <result column="permission_unique_id" property="permissionUniqueID" jdbcType="BIGING" />
            <result column="permission_url" property="permissionUrl" jdbcType="VARCHAR" />
            <result column="permission_name" property="permissionName" jdbcType="VARCHAR" />
            <result column="permission_description;" property="permissionDescription" jdbcType="VARCHAR"/>
            <result column="permission_fid" property="permissionFid" jdbcType="Integer"/>
            <result column="permission_enable" property="permissionEnable" jdbcType="Integer"/>
        </collection>
    </resultMap>
    <sql id="Base_Column_List" >
       role_id, role_unique_id, role_name, role_description, role_enable
    </sql>
    <!--根据用户去查找角色集合-->
    <select id="findByUserName" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
            r.`role_id`,
            r.`role_name`,
            r.`role_description`
        FROM
            sr_role r
        LEFT JOIN sr_user_role ur ON (r.`role_id` = ur.`rid`)
        LEFT JOIN sr_user u ON (u.`user_id` = ur.`uid`)
        WHERE u.user_name = #{userName,jdbcType=VARCHAR} and u.user_enable = 0
    </select>
    <!--查找DTO  根据角色id去查找权限集合-->
    <select id="findDtoById" resultMap="DtoResultMap" parameterType="java.lang.Integer">
        select
            <include refid="Base_Column_List"></include>
        from
            sr_role
        where role_id = #{roleId}
    </select>
</mapper>